.pagination {
  display: flex;
  flex-direction: row;
  background-color: $color-white;
  overflow: hidden;
  height: 100%;
  @apply shadow rounded-md;

  ul.page-wrap {
    display: flex;
    flex-direction: row;

    li {
      @apply transition-all duration-200;
      background-color: $color-white;
      color: $color-black;
      border-right: 1px solid rgba(229, 231, 235, 1);

      &.active {
        background-color: $color-greed-lighter;
        color: $color-white;
        pointer-events: none;
      }

      &.disable {
        @apply text-gray-300;
        @apply pointer-events-none;
      }

      &.max-page {
        @apply pointer-events-none select-none bg-red-500 text-white;
      }

      &:last-child {
        border-right: none;
      }

      @include mq(1024) {
        &:hover {
          background-color: rgba(229, 231, 235, 1);
        }
      }

      & > a {
        @apply px-3;
        display: flex;
        align-items: center;
        height: 100%;
      }

      &.prev-page > a,
      &.next-page > a {
        @apply px-2;
      }
    }
  }
}
