// Font
$font-size-rem: 10px;


// Color
$color-black: #000;
$color-white: #fff;
$color-dark-blue: #264653;
$color-greed: #2A9D8F;
$color-greed-lighter: #30b2a1;
$color-greed-light: #82F7ED;
$color-yellow-dark: #E9C46A;
$color-orange-light: #F4A261;
$color-orange-dark: #E76F51;
